.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/inspectionProfiles
.idea/compiler.xml
.idea/deploymentTargetSelector.xml
.idea/gradle.xml
.idea/kotlinc.xml
.idea/migrations.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/caches
.idea/workspace.xml
.gradle
